*{
    margin: 0px;
    padding: 0px;
}

.header{
    height: 42px;
    margin: 30px auto;
    width: 1200px;
}

.logo{
    float: left;
}

.nav{
    float: left;
    margin-left: 71px;
}

.nav ul li{
    float: left;
    padding: 0px 15px;
    list-style: none;
}

.nav ul li a{
    padding: 0px 8px;
    line-height: 41px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.nav ul li a:hover{
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search{
    float: left;
    margin-left:70px;
    /* background-color: #00a4ff; */
}

.search input{
    width: 345px;
    height: 40px;
    padding-left: 10px;
    border:1px solid #00a4ff;
    color: #c6c7c7;
    float: left;
}

.search button{
    background-image: url(images/btn.png);
    height: 42px;
    width: 50px;
    border: 0;
    float: left;
}

.user{
    float: right;
    margin-right: 36px;
}

img{
    vertical-align: middle;
}

.user span{
    height: 42px;
    line-height: 42px;
}